<div class="vh-100 container-fluid gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-right align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">

                        <div class="pb-4">

                            <h2 class="fw-bold mb-2 text-uppercase">Joins Pay</h2>
                            <p class="text-white-50 mb-5">Entre com o Login e Senha!</p>

                            <div class="form-outline form-white mb-4">
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-3">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                            <input type="text" pInputText placeholder="E-mail ou Usuário">
                                        </div>
                                    </div>
                                </div>
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-3">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                            <input type="password" pPassword [feedback]="false" placeholder="Senha">
                                        </div>
                                    </div>
                                </div>

                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-3">
                                        <button pButton label="Acessar"
                                            class="p-button-raised p-button-secondary p-button-sm btn-acessar">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-auto py-1 bg-dark">
    <div class="container">
        <span class="text-muted">Joins Pay - Controle financeiro pesssoal</span>
    </div>

</footer>