.mainContent {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

.card-revenue-total {
  width: 100%;
  min-height: 170px;
  height: 90%;
}

.card-revenue-total-filter-period-date {
  width: 100%;
  height: 100%;
  min-height: 170px;
}

.description-category {
  text-align: left;
  font-size: 14px;
  padding: 8px;
  width: 90%;
}

.total-category {
  font-size: 14px;
  text-align: right;
  padding: 8px;
  width: 10%;
}

.total-amount-current-month {
  float: right;
  font-size: 50px;
  position: relative;
  top: 50%;
}

.no-data-top-3 {
  position: relative;
  top: 30%;
}
