//colors
$primary: #181A1B;
$secondary: #1B1E1F;
$tertiary: #37474F;

$danger: #EF4444;
$warning: #F59E0B;
$info: #3B82F6;
$success: #22C55E;
$help: #A855F7;
$title-headers-light: #B5AFA6;
$white: #fff;



//fonts
$custom-title-header: "Montserrat";
$custom-2: "Helvetica";
$custom-3: "Open Sans";