@import "../../../variablesCSS/variables";

.ui-dialog-titlebar-close span {
    display: none !important;
}

.navbar {
    overflow: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}

.icons-item-menu {
    color: $white;
}

.row-sidebar-header {
    background: $secondary !important;
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    width: 332px;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    border-bottom: 0.1px $border groove;
}

.col-sidebar-header {
    background: $secondary !important;
}

.title-joins-pay {
    letter-spacing: 20px;
    font-size: 15px;
    font-weight: bold;
    color: $title-headers-light;
    font-family: $custom-2;
}

.sub-title-joins-pay {
    font-size: 50px;
    letter-spacing: 10px;
    color: $warning;
    font-family: $title-headers-light;
}

.scroll-items-menu {
    position: relative;
    top: 100px;
    height: calc(100% - 100px);
    overflow-y: auto;
    width: 330px;
}

.row-items-menu {
    height: 100%;
    height: calc(100vh - 53px);
}

.button-sidebar {
    position: relative;
    left: -10px;
}

:host ::ng-deep p-sidebar {
    .p-sidebar {
        background: $primary !important;
    }

    .p-sidebar-header {
        visibility: none;
    }

    .p-sidebar-content {
        overflow: hidden !important;
    }
}

:host ::ng-deep nav {
    .customDialog {
        width: 22vw !important;
        min-height: 100% !important;
        margin: 0 0 0 0 !important;
    }

    .p-dialog .p-dialog-content {
        background-color: $primary !important;
    }

    .p-dialog-header {
        display: inline;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        text-align: center;
        background-color: $secondary;
    }

    .p-dialog .p-dialog-header {
        color: $title-headers-light;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-color: $primary;
        height: 62px;
        padding: 15px 20px;
    }

    .p-button.p-button-secondary.item-menu {
        height: 50px;
        width: 100%;
    }

    .p-button-rounded .p-button-secondary .p-button-text .show-menu-bar {
        height: 40px;
        width: 40px;
    }

    .pi-bars:before {
        color: #ffffdd;
    }

    .p-chip {
        background-color: transparent;
        color: $white;
        border-radius: 16px;
        padding: 0 0.75rem;
        height: 20px;
    }
}

.sub-menu-item-text {
    font-size: 14px;
    color: $white;
    font-weight: bold;
}

.menu-item {
    padding: 3px 5px;
    margin-left: -10px;
}

.menu-item-text {
    font-size: 14px;
    color: $white;
    margin-left: 10px;
    text-align: left;
}

.pi-icon-item-menu {
    color: $white;
}

.divider {
    border-top: 0.1px $border groove;
    height: 10px;
    width: 100%;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: $secondary;
}
::-webkit-scrollbar-thumb:vertical {
    background: $title-headers-light;
    border-radius: 10px;
}
